/* static/styles.css */
.left-side{
    background-color:#989df889; 
    border-radius: 15px;
    height: 100%;
    width: 81%;
    position: absolute;
    top: 131px;
    left:17.5%;
    overflow: hidden;
    box-shadow: 
            2px 2px 5px rgba(0, 0, 0, 0.2), /* Première ombre */
            4px 4px 10px rgba(0, 0, 0, 0.4), /* Deuxième ombre */
            6px 6px 15px rgba(0, 0, 0, 0.6); /* Troisième ombre */
    }
    
    
     h1{
        text-align: center;
        position: relative;
        top: 60px; 
        left: 23px;
        color: #000000;
     }   
     .left-side-container{
        position: relative;
        top: 60px;
        left: 23px;
     }
     .left-side-container label {
        display: block;
        margin-bottom: 5px;
      }
input{
    padding-top: 10px;
    margin-top: 12px;
    margin-left: 29px;
}


.left-side-container input,
.left-side-container textarea,
.left-side-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
    height: 100px; /* Ajuste la hauteur de la zone de texte */
}
.left-side-container button {
    background-color: #1976D2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }