
{%extends  'partbase/base.html' %}

{%block container%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
 
    <title>CRM</title>
</head>
<body>

 
    <nav class="navbar">
        <div class="logo">
            {%load static%}
            <img src="{% static 'images/v1360_10778.png'%}" alt="logo">
        </div>
        <div   class="ul-container">
            <ul>
                <li><a>About us</a></li>
                <li><a>Contact us</a></li>
                <li><button type="submit"    class="button-login">Login</button></li>
                <li><button type="submit" class="button-SignUp">SignUp</button></li>
            </ul></div>
    </nav>
    
    
    
    <div class="container">
       
        <main>
        <div class="purple-div">
            <!-----div left------->
            <div class="left-side-main1">
            <span class="GrandeTitre1-main1">Notre mission est de simplifier la gestion de vos leads et de vous aider à augmenter vos taux de conversion. Grâce à notre outil intuitif, vous pourrez :</span>
            <button class="button-main1" type="submit">let’s get started</button></div>
            <div class="image1-main1"></div>
            <div class="gray-div-img"></div>
        </div>
    
        <div class="main2">
             <div class="main2-titre">
             <span class="GrandeTitre1">Make every step user-centric</span><br>
             <span class="petiteTitre1">Lorem ipsum dolor sit amet, consectetur adipis elit</span>
             </div>
             <!--main 2 pour les qualites-->
        <div class="qualities">
             <div class="div1-qualites">
                <img  src="" alt=""/>
                <span class="Grandtext1-div1">Professional</span>
                <span class="text1-div1">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis a. Lacinia purus ac amet.</span>
             </div>
    
             <div class="div2-qualites">
                <img src="" alt="">
                <span class="Grandtext1-div2">Product</span>
                <span class="text1-div2">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis a. Lacinia purus ac amet.</span>
             </div>
    
             <div class="div3-qualites">
                <img src="" alt="">
                <span class="Grandtext1-div3">Sales</span>
                <span class="text1-div3">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis a. Lacinia purus ac amet.</span>
             </div>
    
                <div class="div4-qualites">
                    <img src="" alt=""/>
                    <span class="Grandtext1-div4">Quality</span>
                    <span class="text1-div4">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis a. Lacinia purus ac amet.</span>    
                </div>
    
                <div class="div5-qualites">
                    <img src="" alt="">
                    <span class="Grandtext1-div5">Onboarding</span>
                    <span class="text1-div5">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis a. Lacinia purus ac amet.</span> 
                </div>
    
                <div class="div6-qualites">
                    <img src="" alt="">
                    <span class="Grandtext1-div6">Result</span>
                    <span class="text1-div6">Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec, proin faucibus nibh et sagittis a. Lacinia purus ac amet.</span>
                </div>
                 
             </div>
        </div>
            
           
    
                
                <!--------main3-------------->
    
    <div class="main3">
    
    <div class="left-div-main3">
    <span class="span-main3">Connectez-vous instantanément avec votre équipe ou vos clients grâce à notre fonction de chat en direct intégrée</span><br><br>
   <div class="span1-main3"> <span>Optimisez la gestion de vos leads avec notre mini CRM, conçu pour améliorer l'efficacité de vos campagnes publicitaires. Grâce à notre chat en direct intégré, restez connecté en temps réel avec votre équipe et vos clients. Notre solution simple et intuitive facilite la saisie, le suivi, et la gestion des leads, tout en offrant des outils d'analyse puissants et une planification des rendez-vous intégrée. Profitez d'une interface centralisée, d'une personnalisation facile, et d'un support technique complet pour une gestion des leads efficace et sécurisée.</span></div>
    <button type="submit" class="button-main3">Add Member</button>
    </div>
    <div class="right-div-main3">
    
    
    
    </div>
    
    
    
    </div>
    
    
                
    </main>
    </div>
    <!-- Site footer -->
    <footer class="site-footer">
    <div class="container">
    <div class="row">
    <div><h1>Explorez nos ressources,💪 obtenez de l'aide, et restez connectés avec nous pour tout ce dont vous avez besoin.</h1></div>
    <div class="col-sm-12 col-md-6">
      <h6>About</h6>
      <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
    </div>
    
    <div class="col-xs-6 col-md-3">
      <h6>Categories</h6>
      <ul class="footer-links">
        <li><a href="">C</a></li>
        <li><a href="">UI Design</a></li>
        <li><a href="">PHP</a></li>
        <li><a href="">Java</a></li>
        <li><a href="">Android</a></li>
        <li><a href="">Templates</a></li>
      </ul>
    </div>
    
    <div class="col-xs-6 col-md-3">
      <h6>Quick Links</h6>
      <ul class="footer-links">
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Contribute</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Sitemap</a></li>
      </ul>
    </div>
    </div>
    <hr>
    </div>
    <div class="container">
    <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
    <a href="#">Scanfcode</a>.
      </p>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12">
      <ul class="social-icons">
        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
      </ul>
    </div>
    </div>
    </div>
    </footer>








    
</body>
</html>
{%endblock%}