


<div class="container1">
<div class="">
    {%load static%}
<button type="submit" ><img src="{%static 'images/Rectangle_364.png'%}" alt="dashboard icon">dashboard</button>
</div>
<div class="">
    {%load static%}
<button type="submit" ><img src="{%static 'images/Rectangle_395.png'%}" alt="affiche icon">List leads</button>
</div>
<div class="">
    {%load static%}
    <button type="submit" ><img src="{%static 'images/Rectangle_397.png'%}" alt="analyse icon">Analyse</button>
</div>
<div class="">
    {%load static%}
    <button type="submit" ><img src="{%static 'images/Rectangle_398.png'%}" alt="appoitement icon">Rendez-vous</button>
</div>
<div class="">
    {%load static%}
    <button type="submit" ><img src="{%static 'images/Rectangle_369.png'%}" alt="rapport progress icon">rapports</button>
</div>

<div class="">
    {%load static%}
    <button type="submit" ><img src="{%static 'images/Rectangle_365.png'%}" alt="client icon">Clients</button>
</div>
<div class="">
    {%load static%}
    <button type="submit" ><img src="{%static 'images/Rectangle_366.png'%}" alt="chat icon">Communication</button>
</div>
<div class="">
    {%load static%}
    <button type="submit" ><img src="{%static 'images/Rectangle_368.png'%}" alt="campagne icon">Campagne</button>
</div>
<div class="">
    {%load static%}
    <button type="submit" ><img src="{%static 'images/Rectangle_367.png'%}" alt="">Ajouter member</button>
</div>



</div>