<style>
  /* Style de la barre de navigation */
  *{
    margin: 0%;
    padding: 0%;
  }
.navbar {
  background-color: #a580f570; /* Couleur de fond */
  border-bottom: 1px solid #e0e0e0; /* Bordure en bas */
  padding: 2px 10px; /* Espacement intérieur */
}

/* Style du conteneur de la barre de navigation */
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style du logo */
.navbar-brand img {
  width: 100px;
  height: 100px;
  max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas le conteneur */
  /* Garder les proportions de l'image */
}

/* Style du formulaire de recherche */
form.d-flex {
  display: flex;
  align-items: center;
}

/* Style du champ de recherche */
.form-control {
  /* Coins arrondis */
 
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 12px;
  padding-bottom: 12px;
   /* Espacement intérieur */
  border: 1px solid #ced4da; /* Bordure */
}



.search-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1; /* Pour que le champ de recherche prenne tout l'espace disponible */
}

#search-input {
    padding-left: 40px; /* Espace pour l'icône */
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #ced4da; /* Bordure */
    border-radius: 20px; /* Coins arrondis */
    width: 100%; /* Pour que le champ de recherche occupe toute la largeur disponible */
   
 
}

</style>
<body>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        {%load static%}
        <img src="{% static '/images/v1360_10778.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      </a>


      <form class="d-flex" role="search" id="search-form">
        <div class="search-container">
            <input id="search-input" class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Rechercher">
        </div>
    </form>


    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
  </form>
  


     
    </div>
  </nav>


<script>
document.getElementById('search-form').addEventListener('submit', function(event) {
   event.preventDefault(); // Empêche le formulaire de se soumettre de manière traditionnelle
   performSearch();
});

function performSearch() {
    const query = document.getElementById('search-input').value;
    if (query.trim()) {
     console.log('Recherche effectuée pour :', query);
        // Ici, tu peux remplacer le console.log par l'appel de ta fonction de recherche ou redirection
        // Par exemple, envoie la requête à un serveur, change la page, etc.
    }
}

</script>



</body>


