





<style>
#first-card{
width: 592px;
height: 187px;
color: white;
background-color: #3D46F2;
border-radius: 17px;
font-style: Inter;
position: relative;
top:9px;
left:23px;
}
#first-card h2{
  
    margin-left: 11px;
}
#first-card img{
width: 242px;
float: right;
position: relative;
bottom: 100px;
margin-right: -19px;
}

#first-card .card-text{
width: 269px;
margin-left: 11px;
font-size: 14px;

}
#second-card{
border-radius: 17px;
border-color: rgba(71, 71, 71, 0.721);
border-style: dotted;
width: 340px;
height: 312px;
float: right;
position: relative;
top:-300px;
right: 40px;

}
</style>

<div class="row">
<div class="col">
<div class="col-md">
    <!---premier card-->
   <div class="card text-center text-white mb-3" id="first-card" >
    <div class="card-body" style="width: 33rem;">
        <br>
        <h2 class="card-title">Welcome James Kalvin</h2>
        <br>
        <p class="card-text">"Bienvenue sur votre tableau de bord : ici, vous pouvez suivre en un coup d'œil vos leads, rendez-vous et activités récentes pour une gestion efficace de vos prospects.".</p>
        {%load static%}
        <img src="{%static 'images/rectangle_2067.png'%}" alt="photo principale"/>
      </div>
    </div>


    <!----deuxieme card--->
    <div class="card text-center text-white mb-3" id="second-card">
        <div class="card-body" style="width: 33rem;">
          
           
        
          </div>
    </div>
    <!----troisieme card-->
    <div class="card text-center text-white mb-3" id="thrid-card">
        <div class="card-body" style="width: 33rem;">
          
           
        
        </div>
    </div>






</div>
</div>
</div>