





<style>
#first-card{
border-color: rgba(71, 71, 71, 0.721);
border-style: dotted;
width: 572px;

border-radius: 17px;
}
#first-card img{
width: 242px;
float: right;
position: relative;
bottom: 133px;
margin-right: -12px;
}

#first-card .card-text{
width: 260px;
}
</style>

<div class="row">
<div class="col">
<div class="col-md">
<div class="card text-center text-white mb-3" id="first-card" >
    <div class="card-body" style="width: 33rem;">
        <h2 class="card-title">Welcome James Kalvin</h2>
        <p class="card-text">"Bienvenue sur votre tableau de bord : ici, vous pouvez suivre en un coup d'œil vos leads, rendez-vous et activités récentes pour une gestion efficace de vos prospects.".</p>
        {%load static%}
        <img src="{%static 'images/rectangle_2067.png'%}" alt="photo principale"/>
      </div>
</div>







</div>
</div>
</div>