{%include 'parts/nav.html'%}


<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un Lead</title>
    {%load static%}
    <link rel="stylesheet"  type="text/css" href="{%static 'css/lead_form.css'%}"/>
</head>
<body>
    <div class="right-side">
{%include 'parts/button.html'%}

    </div>

  

<div class="left-side">
    <h1>Ajouter un Lead</h1>
    <div class="left-side-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
    </form>
    <a href="{% url 'lead_list' %}">Retour à la liste</a>
</div>
</div>
</body>
</html>
