{%include 'parts/nav.html'%}


<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un Lead</title>
    {%load static%}
    <link rel="stylesheet"  type="text/css" href="{%static 'css/lead_form.css'%}"/>

  <style>
    input{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 5px;
    margin-top: 12px;
    margin-left: 56px;
}
  </style>

</head>
<body>
    <div class="right-side">
{%include 'parts/button.html'%}

    </div>

  

<div class="left-side">
    <h1>Ajouter un Lead</h1>
    <div class="left-side-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
    </form>
    {% if form.non_field_errors %}
        <div class="errors">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <a href="{% url 'lead_list' %}">Retour à la liste</a>
</div>
</div>
</body>
</html>
